
<html ng-app="sorrirApp">
<head>
	<title> Cadastrar Clientes </title>
	<meta charset="UTF-8">
	
	<!-- IMPORTS-->	
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-locale_pt-br.js"></script>
	<script src="lib/angular/mask.js"></script>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<script src="js/app.js"></script>
	<script src="js/controllers/pacienteCtrl.js"></script>
	<script src="js/filters/appFilter.js"></script>
</head>

<body  background="img/background2.png" ng-controller="pacienteCtrl">
	<div id="divGeral" class="jumbotron">
		<h3 style="font-weight:bold"> 
			<span class="label label-info" style="background-color: #337AB7;"> 
				Sorrir Dentistas :) 
			</span>
		</h3>

		<!-- PESQUISA -->
		<div class="panel panel-primary center" style="width: 640px; margin-top: 30px;">
			<div class="panel-heading"> 
				<input type="text" placeholder="O que você esta buscado?" 
				class="form-control center" ng-model="criterioBusca" 
				style="width: 600px; margin-top: 5px;" />
			</div>
			
		</div>

		
		<!-- EXIBICAO -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<table class="table table-condensed id="idTabelaPacientes" ng-show="pacientes.length  > 0">
					<thead style="background-color: #337AB7;">
						<tr>
							<td></td>
							<td class="negrito" style="color:white;" ng-click="ordenarPor('nome')">Nome</td>
							<td class="negrito" style="color:white;" ng-click="ordenarPor('idade')">Idade</td>
							<td class="negrito" style="color:white;" ng-click="ordenarPor('cpf')">CPF</td>
							<td class="negrito" style="color:white;" ng-click="ordenarPor('telefone')">Telefone</td>
						</tr>
					</thead>
					<tbody >

						<tr ng-class="{'selecionado':paciente.selecionado}" 
							ng-repeat="paciente in pacientes | orderBy:	criterioOrdenacao: direcaoDaOrdenacao | 
							filter: criterioBusca">
							<td><input type="checkbox" ng-model="paciente.selecionado"/></td>
							<td>{{paciente.nome}}</td>
							<td>{{paciente.idade}}</td>
							<td>{{paciente.cpf | cpf}}</td>
							<td>{{paciente.telefone | telefone}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<!-- CADASTRO -->
		<div class="cadastro" id="idDivCadastro">
			<form name="formCadastroPaciente">
				<input class="form-control" type="text" ng-model="paciente.nome" placeholder="Nome Completo" 
					   ng-minlength="10" required/>
				<input class="form-control" type="number" ng-model="paciente.idade" placeholder="Idade" required/>
				<input class="form-control" type="text" ng-model="paciente.cpf" 
						required ui-mask="999.999.999-99" size="11" />
				<input class="form-control" type="text" ng-model="paciente.telefone" 
					  	required ui-mask="(99) 9999-99999" size="10" />
				
				<!-- Alerta, caso sejam informados dados invalidos -->
				<div class="alert alert-warning" role="alert" ng-show="alertaCadastro">
					Ops! Ocorreu um erro, verifique se os dados informanos no cadastro estão corretos.
				</div>

				<button class="btn btn-success btn-block glyphicon glyphicon-ok" 
						ng-click="cadastrarPaciente(paciente)"> Salvar </button>
			</form>
			<button class="btn btn-danger btn-block glyphicon glyphicon-trash" 
						ng-click="apagarPacientes(pacientes)" ng-if="isPacienteSelecionado(pacientes)"> Apagar </button>
		</div>

		<!-- HTML do rodape-->
		<div ng-include="'view/footer.html'"/>

	</div>

</body>
</html>