<!--sidebar start-->
    <section>
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu">                
                  <li>
                      <a href="#/pacientes">
                          <i class="icon_house_alt"></i>
                          <span>Início</span>
                      </a>
                  </li>

                  <li>
                      <a href="#/cadastroPaciente">
                          <i class="icon_document_alt"></i>
                          <span>Cadastrar</span>
                      </a>
                  </li>
 
                  <li>                     
                      <a href="#/resumo">
                          <i class="icon_piechart"></i>
                          <span>Resumo</span>                     
                      </a>
                                         
                  </li>
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
    </section>
      <!--sidebar end-->